 @if (Segment != null)
{
    <li>@Segment.Departure.City (@Segment.Departure.Iata) to @Segment.Arrival.City (@Segment.Arrival.Iata) by <b>@GetCarrierName(Segment.CarrierCode)</b> with <b>@GetAircraftName(Segment.AircraftCode)</b>  <h5>@Segment.Duration.Humanize(2,maxUnit:Humanizer.Localisation.TimeUnit.Hour, minUnit:Humanizer.Localisation.TimeUnit.Minute)</h5> <h5>Number of Stops: @Segment.NumberOfStops</h5></li>
}

@code {
    [Parameter]
    public SegmentDto Segment { get; set; } = null!;

    [CascadingParameter(Name = "Dictionaries")]
    protected DictionariesDto Dictionaries { get; set; } = null!;


    string GetCarrierName(string carrierCode) => Dictionaries.Carriers[carrierCode];
    string GetAircraftName(string aircraftCode) => Dictionaries.Aircrafts[aircraftCode];

}
